* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none; 
}

body {
    background-color: #ebf5fc;
    transition: 0.5s;
}


body.dark-theme {
    background-color: #2c2f33;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calculator {
    background-color: #ebf5fc;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #babecc,
                -10px -10px 20px #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 60px); 
    gap: 10px; 
    transition: 0.5s;
}


.dark-theme .calculator {
    background-color: #2c2f33;
    box-shadow: 10px 10px 20px #1a1c1f,
                -10px -10px 20px #3e4247;
}

input {
    grid-column: span 4;
    height: 70px;
    width: 100%;
    background-color: #ebf5fc;
    border: none;
    border-radius: 15px;
    box-shadow: inset 5px 5px 10px #babecc,
                inset -5px -5px 10px #ffffff;
    font-size: 30px;
    text-align: right;
    padding: 20px;
    color: #555;
    margin-bottom: 10px;
}

.dark-theme input {
    background-color: #2c2f33;
    color: #fff;
    box-shadow: inset 5px 5px 10px #1a1c1f,
                inset -5px -5px 10px #3e4247;
}

button {
    height: 60px;
    width: 60px;
    background-color: #ebf5fc;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 600;
    color: #555;
    box-shadow: 5px 5px 10px #babecc,
                -5px -5px 10px #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

.dark-theme button {
    background-color: #2c2f33;
    color: #fff;
    box-shadow: 5px 5px 10px #1a1c1f,
                -5px -5px 10px #3e4247;
}

button:active {
    box-shadow: inset 5px 5px 10px #babecc,
                inset -5px -5px 10px #ffffff;
}

.dark-theme button:active {
    box-shadow: inset 5px 5px 10px #1a1c1f,
                inset -5px -5px 10px #3e4247;
}

.equal {
    width: 135px;
    border-radius: 30px;
    grid-column: span 2;
}

#toggle-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}